<div class="background-before">
</div>
<div class="content">
    <div class="div-title d-flex align-items-center">
        <h1 class="profile-title" style="color: #356fb8;font-weight: bold;">Cài đặt tài khoản</h1>
    </div>
    <p class="te mb-5" style="color: #4999ff; font-weight: 600;">Bạn có thể cập nhật thông tin cá nhân và mật khẩu tại đây.</p>
    <div class="data">
        <div class="tab-titles">
            <h3 style="color: #3a7acc;" class="tab-links {{#if bind_message}}{{else}}active-link{{/if}} mb-3" onclick="opentab('profile')">Tài khoản</h3>
            <h3 style="color: #3a7acc;" class="tab-links mb-3" onclick="opentab('password')">Đổi mật khẩu</h3>
            <h3 style="color: #3a7acc;" class="tab-links {{#if bind_message}}active-link{{/if}} mb-3" onclick="opentab('bind')">Liên kết tài khoản</h3>
        </div>
        <div class="tab-contents {{#if bind_message}}{{else}}active-tab{{/if}}" id="profile">
            <div class="row">
                <div class="col-12">
                    <form id="form-check" onsubmit="changeProfile(event)">
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label for="newFirstName" class="form-label">Tên</label>
                                <input class="form-control" type="text" id="new-firstname"
                                    name="newFirstName" value="{{user.first_name}}" autofocus required />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="newLastName" class="form-label">Họ</label>
                                <input class="form-control" type="text" name="newLastName"
                                    id="new-lastname" value="{{user.last_name}}" required />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="newDOB">Ngày sinh</label>
                                <input type="date" class="form-control input-field mt-2" id="newDOB" name="newDOB" value="01/01/2003" required />
                            </div>
                            <div style="display:none" class="mb-3 col-md-6">
                                <input type="text" class="form-control input-field" id="dob" name="dob" value="{{user.dob}}" disabled />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="newContact" class="form-label">Số điện thoại</label>
                                <input class="form-control" type="text" name="newContact"
                                    id="newContact" value="{{user.phone}}" required />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="email" class="form-label">E-mail</label>
                                <input class="form-control" type="text" id="email"
                                    name="email" value="{{user.email}}" required/>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="delegation" class="form-label">Cấp quản lý</label>
                                <input class="form-control" type="text" id="delegation"
                                    name="delegation" placeholder="{{#ifEquals user.areaLevel 1}}Quận{{else}}{{#ifEquals user.areaLevel 2}}Phường{{else}}Sở{{/ifEquals}}{{/ifEquals}}" disabled value=""/>
                            </div>
                        </div>
                        <div class="mt-2">
                            <button style="background-color: #4999ff; color: white;" type="submit"
                                class="btn me-2" type="submit">Lưu thay đổi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="tab-contents {{#if bind_message}}active-tab{{/if}}" id="bind">
            {{#if bind_message}}
                {{{bind_message}}}
            {{/if}}
            <div style="padding: 15px 20px; background-color: #f7f8fa; border-radius: 10px; display: flex; justify-content: space-between; align-items: center">
                <div style="display: flex" >  
                    <a title="google, Public domain, via Wikimedia Commons"
                        href="https://commons.wikimedia.org/wiki/File:Google-plus-blue.svg"><img width="70" alt="Google-plus-blue"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Google-plus-blue.svg/64px-Google-plus-blue.svg.png"></a>
                    <div style="margin-left: 15px; color:#565b61">
                        <p style="font-weight: 800; font-size: 25px;margin: 0; ">Google</p>
                        {{#if user.bindAccount}}
                            <div style="display: flex; justify-content:center; align-items:center">
                                <p style="margin: 0 10px 0 0 ">{{user.bindAccount}}</p>
                                <img src="../../public/images/tick.png" height="20" width="auto" alt="">
                            </div>
                            
                        {{/if}}
                    </div>
                </div>
                {{#if user.bindAccount}}
                <form action="/unbindAccount" id="form-to-unbind" >
                    <button class="btn btn-outline-primary" type="submit" class="btn me-2" style="height: fit-content;"
                        onclick="unbind(this)">Huỷ liên kết</button>
                </form>
                {{else}}
                    <form action="/bindAccount" id="form-to-bind">
                        <button class="btn btn-outline-primary" type="submit" class="btn me-2" style="height: fit-content;"
                            onclick="bind(this)">Liên kết</button>
                    </form>
                {{/if}}
            </div>
        </div>
        <div class="tab-contents" id="password">
            <div>
                <form action="/profile" method="post">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="current-password" class="form-label">Mật khẩu hiện tại</label>
                            <input class="form-control" type="password" id="current-password"
                                name="currentPassword" autofocus required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="new-password" class="form-label">Mật khẩu mới</label>
                            <input class="form-control" type="password" id="new-password"
                                name="newPassword" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="confirm-password" class="form-label">Xác nhận mật khẩu mới</label>
                            <input class="form-control" type="password" id="confirm-password"
                                name="confirmPassword" required/>
                        </div>
                    </div>
                    <div style="display: none;" class="mb-3 col-md-6">
                        <label for="email" class="form-label">E-mail</label>
                        <input class="form-control" type="text" id="email" name="email" value="{{user.email}}" placeholder="" readonly />
                    </div>
                    <button style="background-color: #4999ff; color: white;" type="submit"
                        class="btn me-2" onclick="updateUserPassword(this)">Lưu thay đổi</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var currentDate = document.getElementById("dob").value;
    console.log(currentDate);
    var formattedDate = currentDate.split('T')[0];
    document.getElementById("newDOB").value = formattedDate;



</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
<script src="../../public/js/shared/profile.js"></script>