<tr>
  {{#each this}}
    {{#if @last}}
      {{#ifEquals this "Đã quy hoạch"}}
        <td>
          <div style="display:flex; flex-direction:row">
            <div
              class="card"
              style="background-color: #DAF9FE; color:#262058; padding: 0 12px;"
            >
              {{this}}
            </div>
            <button
              style="margin-left:auto"
              class="btn"
              type="button"
              {{! data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasRight"
              aria-controls="offcanvasRight" }}
            ><i
                class="bi bi-arrow-up-right-square"
                style="color: black"
              ></i></button>
          </div>
        </td>
      {{else}}
        {{#ifEquals this "Chưa quy hoạch"}}
          <td>
            <div style="display:flex; flex-direction:row">
              <div
                class="card"
                style="background-color: #FFF3F0; color:#FEAF9D; padding: 0 12px;"
              >
                {{this}}
              </div>
              <button
                style="margin-left:auto"
                class="btn"
                type="button"
                {{! data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasRight"
              aria-controls="offcanvasRight" }}
              ><i
                  class="bi bi-arrow-up-right-square"
                  style="color: black"
                ></i></button>
            </div>

          </td>
        {{else}}
          {{#ifEquals this "Chưa giải quyết"}}
            <td>
              <div
                class="card"
                style="background-color: #FFF3F0; color:#FEAF9D; width:10em"
              >
                {{this}}
              </div>
            </td>
          {{else}}
            {{#ifEquals this "Đã giải quyết"}}
              <td>
                <div
                  class="card"
                  style="background-color: #DAF9FE; color:#262058"
                >
                  {{this}}
                </div>
              </td>
            {{else}}
              {{#ifEquals this "Đã cấp phép"}}
                <td style="width:190px">

                  <div style="display: flex; flex-direction: row">

                    <div
                      class="card"
                      style="background-color: #DAF9FE; color:#262058; width:10em"
                    >
                      {{this}}
                    </div>
                    <button
                      class="btn"
                      type="button"
                      {{! data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasRight"
              aria-controls="offcanvasRight" }}
                    ><i
                        class="bi bi-arrow-up-right-square"
                        style="color: black"
                      ></i></button>
                  </div>

                </td>
              {{else}}
                {{#ifEquals this "Đã hủy"}}
                  <td style="width:190px">

                    <div style="display: flex; flex-direction: row">

                      <div
                        class="card"
                        style="background-color: #FFF3F0; color:#FEAF9D; width:10em"
                      >
                        {{this}}
                      </div>
                      <button
                        class="btn"
                        type="button"
                        {{! data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasRight"
              aria-controls="offcanvasRight" }}
                      ><i
                          class="bi bi-arrow-up-right-square"
                          style="color: black"
                        ></i></button>
                    </div>

                  </td>
                {{else}}
                  {{#ifEquals this "Đang chờ duyệt"}}
                    <td style="width:190px">

                      <div style="display: flex; flex-direction: row">

                        <div
                          class="card"
                          style="background-color: #6D7E9F; color:#FFFFFF; width:10em"
                        >
                          {{this}}
                        </div>
                        <button
                          class="btn"
                          type="button"
                          {{! data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasRight"
              aria-controls="offcanvasRight" }}
                        ><i
                            class="bi bi-arrow-up-right-square"
                            style="color: black"
                          ></i></button>
                      </div>

                    </td>
                  {{else}}
                    {{#ifEquals this "Đang quảng cáo"}}
                      <td style="width:190px">
                        <div style="display: flex; flex-direction: row">

                          <div
                            class="card"
                            style="background-color: #CF9513; color:#FFFFFF; width:10em"
                          >
                            {{this}}
                          </div>
                          <button
                            class="btn"
                            type="button"
                            {{! data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasRight"
              aria-controls="offcanvasRight" }}
                          ><i
                              class="bi bi-arrow-up-right-square"
                              style="color: black"
                            ></i></button>
                        </div>
                      </td>
                    {{else}}
                    {{/ifEquals}}
                  {{/ifEquals}}
                {{/ifEquals}}
              {{/ifEquals}}
            {{/ifEquals}}
          {{/ifEquals}}
        {{/ifEquals}}
      {{/ifEquals}}
    {{else}}
      <td>{{this}}</td>
    {{/if}}
  {{/each}}
</tr>