<div class="location_table">
  <section class="table__header">
    <h2 class="table_heading">Quản lý điểm đặt</h2>
    <form class="input_group" action="#" method="post" id="search_functionality">
      <i class='bx bx-search-alt'></i>
      <input id="input-search-hehe" type="search" placeholder="Search..." />
    </form>
  </section>
  <!-- Table head -->
  <section class="table__body">
    <table class="table_in_location">
      <thead class="table_head_in_location">
        <tr class="tr_in_table_in_location">
          <th>Quận</th>
          <th>Phường</th>
          <th>Địa chỉ</th>
          <th>Loại vị trí</th>
          <th>Số lượng</th>
          <th>Mục đích</th>
          <th>Trạng thái</th>
          <th></th>
        </tr>
      </thead>
      <!-- Table body -->
      <tbody>
        {{#each data_rows}}
        <tr class="tr_in_table_in_location">
          <td>
            <p class="table-cell-type">{{address.district}}</p>
          </td>
          <td>
            <p class="table-cell-type">{{address.ward}}</p>
          </td>
          <td>
            <p class="table-cell-type">{{address.street}}</p>
          </td>
          <td>
            <p class="table-cell-type">{{type_ad}}</p>
          </td>
          <td>
            <p class="table-cell-type text-align-center">{{capacity}}</p>
          </td>
          <td>
            <p class="table-cell-type">{{purpose_ad}}</p>
          </td>
          <td>
            <p style="margin: 0" class="status {{status.status_id}}">{{status.status_name}}</p>
          </td>
          <td>
            <div class="last-cell">
              <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#location_extend"
                aria-controls="offcanvasRight" style="margin-left: auto" id="{{id}}"
                onclick="getSpecificLocation(this)">
                <i class="bi bi-arrow-up-right-square" style="color: black"></i>
              </button>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
</div>

<div class="tmp-pop-up">

  <div class="offcanvas offcanvas-end sidepeek-location" data-bs-scroll="true" tabindex="-1" id="location_extend"
    aria-labelledby="Location extend information" width="50%">
    <div class="offcanvas-header sidepeek-location-header">
      <button type="button" class="btn-close" onclick="closeOffcanvas()" data-bs-dismiss="offcanvas"
        aria-label="Close"></button>
      <h5 class="offcanvas-title" id="location_extend_header">Thông tin chi tiết điểm đặt quảng cáo</h5>
    </div>

    <div class="offcanvas-body">
      <div class="fluid-container mb-3">
        <div class="row">
          <div class="col-6">
            <div id="ad-detail-img" class="carousel slide mb-6"
              style="border-radius: 10px; overflow: hidden; width: 100%" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#ad-detail-img" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#ad-detail-img" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="https://www.ecommerce-nation.com/wp-content/uploads/2018/10/404-error.jpg"
                    class="h-100 w-100" alt="404 Not Found" id="image1">
                </div>
                <div class="carousel-item">
                  <img src="https://www.ecommerce-nation.com/wp-content/uploads/2018/10/404-error.jpg"
                    class="h-100 w-100" alt="" id="image2">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#ad-detail-img" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#ad-detail-img" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

          <div class="col-6">
            <table style="padding: 0;" id="info-ad-location" class="table" id="inf-table">
              <tr>
                <th><i class="bi bi-geo-alt"> Địa chỉ</i></th>
                <td id="address_formated">47, Đ. Điện Biên Phủ, P. Đa Kao, Quận 1</td>
              </tr>
              <tr>
                <th><i class="bi bi-hash"></i> Số lượng</th>
                <td id="capacity">2 bảng/điểm</td>
              </tr>
              <tr>
                <th><i class="bi bi-tag"></i> Loại vị trí</th>
                <td id="type_id">Nhà riêng</td>
              </tr>
              <tr>
                <th><i class="bi bi-activity"></i> Trạng thái</th>
                <td id="status">Chưa quy hoạch</td>
              </tr>
              <tr>
                <th><i class="bi bi-bullseye"></i> Mục đích</th>
                <td id="purpose_id">Thương mại</td>
              </tr>
            </table>
          </div>

          <div class="d-flex justify-content-end w-100 align-item">
            <div class="btn btn-outline-secondary" id="showPopUp">
              <i class="bi bi-pencil-square"></i> Yêu cầu chỉnh sửa
            </div>

          </div>
        </div>
      </div>

      <div class="overlay collapse" id="detail-location-overlay"></div>

      <div class="ad-detail-info-container">

      </div>
    </div>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
  integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<script src="/public/js/ward-district/location.js"></script>



<link rel="stylesheet" href="/public/css/ward-district/location.css" />
<link rel="stylesheet" href="/public/css/department/ads_management.css" />