<div class="location_table">
  <section class="table__header">
    <h2 class="table_heading">Quản lý điểm đặt</h2>
    <form class="input_group" action="#" method="post" id="search_functionality">
      <i class='bx bx-search-alt'></i>
      <input id="input-search-hehe" type="search" placeholder="Search..." />
    </form>
  </section>
  <!-- Table head -->
  <section class="table__body">
    <table class="table_in_location">
      <thead class="table_head_in_location">
        <tr class="tr_in_table_in_location">
          <th>Quận</th>
          <th>Phường</th>
          <th>Địa chỉ</th>
          <th>Loại vị trí</th>
          <th>Số lượng</th>
          <th>Mục đích</th>
          <th>Trạng thái</th>
          <th></th>
        </tr>
      </thead>
      <!-- Table body -->
      <tbody>
        {{#each data_rows}}
        <tr class="tr_in_table_in_location">
          <td>
            <p class="table-cell-type">{{address.district}}</p>
          </td>
          <td>
            <p class="table-cell-type">{{address.ward}}</p>
          </td>
          <td>
            <p class="table-cell-type">{{address.street}}</p>
          </td>
          <td>
            <p class="table-cell-type">{{type_ad}}</p>
          </td>
          <td>
            <p class="table-cell-type text-align-center">{{capacity}}</p>
          </td>
          <td>
            <p class="table-cell-type">{{purpose_ad}}</p>
          </td>
          <td>
            <p style="margin: 0" class="status {{status.status_id}}">{{status.status_name}}</p>
          </td>
          <td>
            <div class="last-cell">
              <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#location_extend"
                aria-controls="offcanvasRight" style="margin-left: auto" id="{{id}}"
                onclick="getSpecificLocation(this)">
                <i class="bi bi-arrow-up-right-square" style="color: black"></i>
              </button>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
</div>


<div class="offcanvas offcanvas-end sidepeek-location" data-bs-scroll="true" tabindex="-1" id="location_extend"
  aria-labelledby="Location extend information" width="50%">
  <div class="offcanvas-header sidepeek-location-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    <h5 class="offcanvas-title" id="location_extend_header">Thông tin chi tiết điểm đặt quảng cáo</h5>
  </div>
  <div class="offcanvas-body">
    <div class="fluid-container mb-3">
      <div class="row">
        <div class="col-6">
          <div id="ad-detail-img" class="carousel slide mb-6" style="border-radius: 10px; overflow: hidden; width: 100%"
            data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#ad-detail-img" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#ad-detail-img" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://www.ecommerce-nation.com/wp-content/uploads/2018/10/404-error.jpg" class="h-100 w-100"
                  alt="404 Not Found" id="image1">
              </div>
              <div class="carousel-item">
                <img src="https://www.ecommerce-nation.com/wp-content/uploads/2018/10/404-error.jpg" class="h-100 w-100"
                  alt="" id="image2">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#ad-detail-img" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#ad-detail-img" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <div class="col-6">
          <table style="padding: 0;" id="info-ad-location" class="table" id="inf-table">
            <tr>
              <th><i class="bi bi-geo-alt"> Địa chỉ</i></th>
              <td id="address_formated">47, Đ. Điện Biên Phủ, P. Đa Kao, Quận 1</td>
            </tr>
            <tr>
              <th><i class="bi bi-hash"></i> Số lượng</th>
              <td id="capacity">2 bảng/điểm</td>
            </tr>
            <tr>
              <th><i class="bi bi-tag"></i> Loại vị trí</th>
              <td id="type_id">Nhà riêng</td>
            </tr>
            <tr>
              <th><i class="bi bi-activity"></i> Trạng thái</th>
              <td id="status">Chưa quy hoạch</td>
            </tr>
            <tr>
              <th><i class="bi bi-bullseye"></i> Mục đích</th>
              <td id="purpose_id">Thương mại</td>
            </tr>
            <tr>
              <th><i class="bi bi-boxes"></i> Loại bảng</th>
              <td id="ad_id">2 bảng/điểm</td>
            </tr>
          </table>
        </div>

        <div class="d-flex justify-content-end w-100 align-item">
          <div class="btn btn-outline-secondary" id="showPopUp">
            <i class="bi bi-pencil-square"></i> Yêu cầu chỉnh sửa
          </div>
          <div id="popup-parent">
            <img id="form-img" src="/public/images/form.png" alt="" />
            <div class="popup" id="location-popup">
              <h2 style="margin-top: 60px">Yêu cầu chỉnh sửa</h2>
              <button style="position: fixed; right: 10px; top: 10px" type="button" class="btn-close"
                id="close-edit-request"></button>
              <hr />

              <div class="ads-info">
                <div class="form-field-col">
                  <label for="location-type-selection">Loại ví trị</label>
                  <select id="location-type-selection" required>

                  </select>
                </div>
                <div class="form-field-col">
                  <label for="purpose-type-selection">Hình thức quảng cáo</label>
                  <select id="purpose-type-selection" required>

                  </select>
                </div>
                <div class="ads-amount">
                  <label for="ads-amount">Số lượng</label>
                  <input type="number" id="ads-amount" min="1" max="10" placeholder="0" required>
                  <p>bảng / địa điểm</p>
                </div>
                <div class="ads-type">
                  <label for="ads-type">Loại bảng quảng cáo</label>
                  <select id="ads-type" required>

                  </select>
                </div>
                <div style="width: 100%; height: 200px">
                  <div class="imgs-field">
                    <div class="upload-field" id="upload-img-file" onclick="imgInputController('upload-img-file')">
                      <label for="imgFile" class="drag-drop">
                        <input type="file" name="imgFile" id="imgFile" accept=".png, .jpeg, .gif, .jpg" multiple hidden>
                        <div class="holder">
                          <i class="bi bi-cloud-arrow-up-fill"></i>
                          <h4>Kéo và thả ảnh vào đây</h4> hoặc Click để duyệt file
                        </div>
                      </label>
                      <div class="preview" style="display: none;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <p style="
                        text-align: left;
                        font-weight: bold;
                        margin-top: 25px;
                      ">
                Lý do chỉnh sửa
              </p>
              <textarea style="width: 100%; padding: 12px; border-radius: 12px" name="" id="" cols="30"
                rows="5"></textarea>
              <button id="submit-request" style="
                        width: 100%;
                        outline: none;
                        border-color;
                        padding: 10px;
                        border-radius: 12px;
                        background-color: #262058;
                        color: white;
                        margin-top: 50px;
                      ">
                <h5 style="margin: 0">Gửi yêu cầu</h5>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="overlay collapse" id="detail-location-overlay"></div>

    <div class="ad-detail-info-container">
      {{!-- <div class="ad-detail-card">
        <div class="view">
          <div id="ad-detail-card-imgs-c001" class="carousel slide view-imgs" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button data-bs-target="#ad-detail-card-imgs-c001" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="First slide"></button>
              <button data-bs-target="#ad-detail-card-imgs-c001" data-bs-slide-to="1"
                aria-label="Second slide"></button>
              <button data-bs-target="#ad-detail-card-imgs-c001" data-bs-slide-to="2" aria-label="Third slide"></button>
            </div>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <img
                  src="https://images.unsplash.com/photo-1700451761286-67c601f012d8?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  class="w-100 d-block" alt="First slide">
              </div>
              <div class="carousel-item">
                <img src="https://www.ecommerce-nation.com/wp-content/uploads/2018/10/404-error.jpg"
                  class="w-100 d-block" alt="Second slide">
              </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#ad-detail-card-imgs-c001"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#ad-detail-card-imgs-c001"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="view-info">
            <div class="view-info-attribute">
              <span>Kích thước</span> 2m x 3m
            </div>
            <div class="view-info-attribute">
              <span>Bắt đầu</span> 11/11/2023
            </div>
            <div class="view-info-attribute">
              <span>Kết thúc</span> 11/12/2023
            </div>
            <div class="view-info-status">
              Đang quảng cáo
            </div>

            <div class="d-flex justify-content-end w-100 align-item">
              <div class="btn btn-outline-secondary" onclick="showPopupAds()">
                <i class="bi bi-pencil-square"></i>
              </div>
              <div id="popup-parent-ads">
                <img id="form-img-ads" src="/public/images/form.png" alt="" />
                <div class="popup-ads" id="location-popup-ads">
                  <h2 style="margin-top: 60px">Yêu cầu chỉnh sửa</h2>
                  <button style="position: fixed; right: 10px; top: 10px" type="button" class="btn-close"
                    onclick="hidePopupAds()" id="close-edit-request-ads"></button>
                  <hr />

                  <div class="edit-ad-form-officer">
                    <form action="" class="edit-ad-form-officer">
                      <div class="imgs-field">
                        <div class="upload-field" id="edit-ad-form-img-c001">
                          <label for="imgFile" class="drag-drop">
                            <input type="file" name="imgFile" id="imgFile" accept=".png, .jpeg, .gif" multiple hidden>
                            <div class="holder">
                              <i class="bi bi-cloud-arrow-up-fill"></i>
                              <h4>Kéo và thả ảnh vào đây</h4> hoặc Click để duyệt file
                            </div>
                          </label>
                          <div class="preview">
                          </div>
                        </div>
                      </div>
                      <div class="info-field">
                        <div class="ads-amount">
                          <label for="ad-w">Chiều rộng</label>
                          <input type="number" id="ad-w" placeholder="0" required>
                          <p>m</p>
                        </div>
                        <div class="ads-amount">
                          <label for="ad-h">Chiều dài</label>
                          <input type="number" id="ad-h" placeholder="0" required>
                          <p>m</p>
                        </div>
                        <div class="form-field">
                          <label for="start-date">Bắt đầu</label>
                          <input type="date" id="start-date" placeholder="" required>
                        </div>
                        <div class="form-field">
                          <label for="end-date">Kết thúc</label>
                          <input type="date" id="end-date" placeholder="" required>
                        </div>
                      </div>
                    </form>
                  </div>

                  <button id="submit-request-ads" style="
                              width: 100%;
                              outline: none;
                              border: 0;
                              padding: 10px;
                              border-radius: 5px;
                              background-color: #262058;
                              color: white;
                              margin-top: 50px;
                            " onclick="hidePopupAds()">
                    <h5 style="margin: 0">Gửi yêu cầu</h5>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div> --}}
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
  integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<script src="/public/js/ward-district/location.js"></script>
{{!--
<script>
  imgInputController('upload-img-file');
</script> --}}


<link rel="stylesheet" href="/public/css/ward-district/location.css" />
<link rel="stylesheet" href="/public/css/department/ads_management.css" />