<div class="location_table">
  <section class="table__header">
    <h2 class="table_heading">Quản lý cấp phép</h2>
    <form class="input_group" action="#" method="post" id="search_functionality">
      <i class='bx bx-search-alt'></i>
      <input id="input-search-hehe" type="search" placeholder="Search..." />
    </form>
    <button class="creation_btn" style="" onclick="showPopup({{user.delegation}})">
      <div>
        <i class="bi bi-patch-plus"></i>
      </div>
    </button>

  </section>
  <!-- Table head -->
  <section class="table__body">
    <table class="table_in_location">
      <thead class="table_head_in_location">
        <tr class="tr_in_table_in_location">
          <th>Công Ty</th>
          <th>Địa Điểm</th>
          <th>
            <div class="dropdown">
              <a style="color: white !important" href="#"
                class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">Loại bảng quảng cáo</a>
              <div style="padding: 10px" class="dropdown-menu">
                <input type="checkbox" id="co-dong-chinh-tri" name="co-dong-chinh-tri" value="co-dong-chinh-tri" />
                <label for="co-dong-chinh-tri">Cổ động chính trị</label><br />
                <input type="checkbox" id="quang-cao-thuong-mai" name="quang-cao-thuong-mai"
                  value="quang-cao-thuong-mai" />
                <label for="quang-cao-thuong-mai">Quảng cáo thương mại</label><br />
                <input type="checkbox" id="xa-hoi-hoa" name="xa-hoi-hoa" value="xa-hoi-hoa" />
                <label for="xa-hoi-hoa">Xã hội hoá</label><br />
              </div>
            </div>
          </th>
          <th>
            <div class="dropdown">
              <a style="color: white !important" href="#"
                class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">Trạng thái</a>
              <div style="padding: 10px" class="dropdown-menu">
                <input type="checkbox" id="dang-cho-duyet" name="dang-cho-duyet" value="dang-cho-duyet" />
                <label for="dang-cho-duyet">Đang chờ duyệt</label><br />
                <input type="checkbox" id="da-cap-phep" name="da-cap-phep" value="da-cap-phep" />
                <label for="chua-quy-hoach">Đã cấp phép</label><br />
                <input type="checkbox" id="da-huy" name="da-huy" value="da-huy" />
                <label for="chua-quy-hoach">Đã huỷ</label><br />
                <input type="checkbox" id="dang-quang-cao" name="dang-quang-cao" value="dang-quang-cao" />
                <label for="dang-quang-cao">Đang quảng cáo</label><br />
              </div>
            </div>
          </th>
          <th></th>
        </tr>
      </thead>
      <!-- Table body -->
      <tbody>
        {{#each data}}
        <tr id="{{request_id}}" class="tr_in_table_in_location">
          <td>
            <p class="text-align-center table-cell-type">{{company_name}}</p>
          </td>
          <td>
            <p class="table-cell-type">{{address_formated}}</p>
          </td>
          <td>
            <p class="table-cell-type">{{name}}</p>
          </td>
          <td class="d-flex justify-content-center align-items-center">
            <p class="mx-0 status delivered">{{#ifEquals status "sent"}}Đã gửi{{else}}{{#ifEquals status "accepted"}}Đã chấp thuận{{else}}Bị từ chối{{/ifEquals}}{{/ifEquals}}</p>
          </td>
          <td>
            <div class="last-cell">
              <div>
                <i role="button" onclick="showPopup_review(this)" class="bi bi-arrow-up-right-square" style="color: black" data-id ="{{id}}" data-company-name = "{{company_name}}" data-email = "{{company_email}}" data-height = "{{height}}" data-status="{{status}}" data-width="{{width}}" data-location = "{{company_address}}" data-start = "{{start}}" data-end="{{end}}" data-type="{{name}}" data-ad-place="{{address_formated}}" data-description = {{description}} data-img1="{{image1}}" data-img2="{{image2}}" data-request-id="{{request_id}}" ></i>
              </div>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
</div>

<div id="popup-parent_">
  <div class="popup_" id="location-popup_">
  <img id="form-img_" src="/public/images/form.png" alt="">
    <h2 style="margin-top: 60px; ">Yêu cầu cấp phép</h2>
    <button style="position:fixed; right: 10px; top:10px;" type="button" class="btn-close" onclick="hidePopup_review()"
      id="close-edit-request_">
    </button>

    <hr>
    <form id="delete-form" onsubmit="deleteForm(event)">
    <div class="row">
      <div class="col-6">
        <p style="text-align: left; font-weight: bold;margin-top:25px">Tên công ty</p>
        <input
          style="margin:0;width: 100%; border:0; border-box:none; padding: 10px; text-align: left; border-radius: 5px"
          disabled="disabled" placeholder="" id="review_company_name">
        <p style="text-align: left; font-weight: bold;margin-top:25px">Kích thước</p>
        <div class="d-flex justify-content-center align-items-center">
          <input style="margin-right: 10px;width: 100%; border:0; border-box:none; padding: 10px; text-align: left; border-radius: 5px"
            disabled="disabled" placeholder="" id="review_height">
          x
          <input style="margin-left:10px;width: 100%; border:0; border-box:none; padding: 10px; text-align: left; border-radius: 5px"
            disabled="disabled" placeholder="" id="review_width">
        </div>
        <p style="text-align: left; font-weight: bold;margin-top:25px">Ngày bắt đầu</p>
        <input
          style="margin:0;width: 100%; border:0; border-box:none; padding: 10px; text-align: left; border-radius: 5px"
          disabled="disabled" placeholder="" id="review_start">
        </input>
      </div>
      <div class="col-6">
        <p style="text-align: left; font-weight: bold;margin-top:25px">Email</p>
        <input
          style="margin:0;width: 100%; border:0; border-box:none; padding: 10px; text-align: left; border-radius: 5px"
          disabled="disabled" placeholder="example@gmail.com" id="review_email">
        <p style="text-align: left; font-weight: bold;margin-top:25px">Địa chỉ công ty</p>
        <input
          style="margin:0;width: 100%; border:0; border-box:none; padding: 10px; text-align: left; border-radius: 5px"
          disabled="disabled" placeholder="47, Đ. Điện Biên Phủ" id="review_location">
        <p style="text-align: left; font-weight: bold;margin-top:25px">Ngày kết thúc</p>
        <input
          style="margin:0;width: 100%; border:0; border-box:none; padding: 10px; text-align: left; border-radius: 5px"
          disabled="disabled" placeholder="" id="review_end">
          <input type="text" id="request-id" name="request-id" style="display: none">
          <input type="text" id="ad-content" name="ad-content" style="display: none">
          <input type="text" id="image1" name="image1" style="display: none">
          <input type="text" id="image2" name="image2" style="display: none">
      </div>
    </div>

    <p style="text-align: left; font-weight: bold;margin-top:25px">Điểm đặt quảng cáo</p>
    <input style="margin:0;width: 100%; border:0; border-box:none; padding: 10px; text-align: left; border-radius: 5px"
      disabled="disabled" placeholder="" id="review_ad_place">
    </input>
    <p style="text-align: left; font-weight: bold;margin-top:25px">Loại bảng quảng cáo</p>
    <input style="margin:0;width: 100%; border:0; border-box:none; padding: 10px; text-align: left; border-radius: 5px"
      disabled="disabled" placeholder="" id="review_type">
    </input>
    <p style="text-align: left; font-weight: bold;margin-top:25px">Mô tả bảng quảng cáo</p>
    <textarea class="form-control" name="review_description" id="review_description" rows="4"
      disabled="disabled"></textarea>
    <p style="text-align: left; font-weight: bold;margin-top:25px">Hình ảnh mô tả</p>
    <div style="height: 300px; width: 100%">
      <div id="myCarousel" class="carousel slide mb-6" style="border-radius: 10px; overflow: hidden;"
        data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img id="review_img1" src="public/images/place_holder.png" class="h-100 w-100" alt="">

          </div>
          <div class="carousel-item">
            <img id="review_img2" src="public/images/place_holder.png" class="h-100 w-100" alt="">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <button type="submit"
      style="width: 100%; outline: none; border:0; padding: 10px; border-radius: 5px; background-color: tomato; color: white; margin-top: 50px"
      id="delete-request">Xoá yêu cầu</button>
    </form>
  </div>
</div>

<div id="popup-parent">
  <img id="form-img" src="/public/images/form.png" alt="">
  <div class="popup" id="location-popup">
    <h2 style="margin-top: 60px; ">Yêu cầu cấp phép</h2>
    <button style="position:fixed; right: 10px; top:10px;" type="button" class="btn-close" id="close-edit-request">
    </button>
    <hr>
    <form id="create-request-form">
      {{!-- <div style="text-align: left; margin: 10px 0px">
          <label style="font-weight: bold;" for="ad-location" class="form-label">Địa chỉ điểm quảng cáo</label>
          <input tabindex="1" name="ad-location" type="text" class="form-control" id="ad-location" required placeholder="Công ty" disabled/>
      </div> --}}
      <div class="row">
        <div class="col-6">
          <div style="text-align: left;">
            <label style="font-weight: bold;" for="inputName" class="form-label">Tên công ty</label>
            <input tabindex="1" name="inputName" type="text" class="form-control" id="inputName" name="inputName" required placeholder="Công ty"/>
      
          </div>
      
          <div style="text-align: left;margin-top:30px">
            <label style="font-weight: bold;" for="size" class="form-label">Kích thước</label>
            <div class="d-flex justify-content-center align-items-center">
              <input style="margin-right: 10px;" type="number" class="form-control" tabindex="3" id="height" name="size" required  placeholder="Cao"/>
              x
              <input style="margin-left: 10px;" type="number" class="form-control" tabindex="4" id="width" name="size" required  placeholder="Rộng"/>
            </div>
          </div>
          <div style="text-align: left;margin-top:30px">
            <label style="font-weight: bold;" for="startDate" class="form-label">Ngày bắt đầu</label>
            <input type="date" class="form-control" tabindex="6" id="startDate" name="startDate" required />
          </div>
        </div>
        <div class="col-6">
          <div style="text-align: left;">
            <label style="font-weight: bold;" for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" tabindex="2" required placeholder="Email"/>
          </div>
      
          <div style="text-align: left;margin-top:30px">
            <label style="font-weight: bold;" for="address" class="form-label">Địa chỉ công ty</label>
            <input type="text" class="form-control" tabindex="5" id="address" name="address" required placeholder="Địa chỉ" />
          </div>
          <div style="text-align: left;margin-top:30px">
            <label style="font-weight: bold;" for="endDate" class="form-label">Ngày kết thúc</label>
            <input type="date" class="form-control" tabindex="7" id="endDate" name="endDate" required />
          </div>
        </div>
      </div>
      <div class="permission-dropdown"  style="text-align: left;margin-top:30px">
        <label style="font-weight: bold;" for="adType" class="form-label">Loại bảng quảng cáo</label>
        <input type="text" class="form-control" name="adType" id="adType" class="textBox" placeholder="Loại bảng" readonly>
        <input style="display: none;" type="text" class="form-control" name="adTypeId" id="adTypeId" class="textBox" readonly>
        <div class="permission-dropdown-option">
        </div>
      </div>
      <div style="text-align: left; margin: 25px 0px">
          <label style="font-weight: bold;" for="ad-location" class="form-label">Địa chỉ điểm quảng cáo</label>
          <div class="map-container" style="width: 100%; height: 15rem;">
          <div class="map" id="permission-map">
            </div>
          </div>
          <input style="margin-top: 10px;" name="ad-location" type="text" class="form-control" id="ad-location" required placeholder="Chọn ở bản đồ" readonly/>
      </div>
      
      <div style="text-align: left;">
        <label for="content" style="text-align: left; font-weight: bold;margin:15px 0px">Mô tả bảng quảng cáo</label>
        <textarea class="form-control" name="content" id="content" rows="4"></textarea>
      </div>
      <p style="text-align: left; font-weight: bold;margin-top:25px">Hình ảnh mô tả</p>
      <div class="imgs-field">
        <div class="upload-field" id="upload-img-request" style="padding: 0px;height: 45%; width: 100%">
          <label for="img-illustration" class="drag-drop" style="width: 100%">
            <div class="holder">
              <i class="bi bi-cloud-arrow-up-fill"></i>
              <h4>Kéo và thả ảnh vào đây</h4> hoặc Click để duyệt file
            </div>
          </label>
          <input type="file" name="imgFile" id="img-illustration" accept=".png, .jpeg, .gif" multiple hidden>
          <div class="preview" style="display: none;">
          </div>
        </div>
      </div>
      <button type="submit"
        style="width: 100%; outline: none; border:0; padding: 10px; border-radius: 5px; background-color: #262058; color: white; margin-top: 50px"
        id="submit-request" onclick="submitForm(event)">Gửi yêu cầu</button>
    </form>
    {{!-- <form action="/permission" class="form-request" method="post"> --}}
    
      
      {{!-- <div class="wrapper">
        <form class='upload' action="#">
          <input class="file-input" type="file" name="file" hidden multiple />
          <i class="bi bi-cloud-arrow-up"></i>
          <p>Chọn ảnh hoặc kéo thả ảnh vào đây</p>
        </form>
        <section class="progress-area"></section>
        <section class="uploaded-area"></section>
      </div> --}}
      

    {{!-- </form> --}}
    
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
  integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<script src="/public/js/ward-district/permission_create_request.js"></script>
<script src="/public/js/ward-district/permission_review_request.js"></script>
<script src="/public/js/maps/map.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="/public/css/ward-district/permission.css">